*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
}

.box{
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    padding: 0.5rem;
}

.container{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:minmax(200px,auto);
    /* column-gap: 1rem;
    row-gap: 1rem; */
/* first row and column in gap */
    gap: 1rem 2rem;

    grid-template-rows: repeat(2,1fr 1fr);
    grid-auto-columns: minmax(200px,250px);
}

.box:first-child{
    background-color: rgb(119, 150, 88);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;

    display: grid;
/* in grid for align and justify both content and item will work */
    /* align-content: end;
    justify-items: end; */
    place-items: center;

}

.box:nth-child(2){
    background:linear-gradient(to right, rgb(63, 129, 136),rgb(148, 39, 97));
    grid-row: 1 / 4;
}

/* Names grid items and grid template area */

body{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: 150px auto 100px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn sd sd sd"
    "ft ft ft ft ft ft ft ft ft";
}

.el{
    display: grid;
    background: linear-gradient(to bottom,rgb(107, 49, 49),blue);
    color: antiquewhite;
}

.head{
    grid-area: hd;
}

.container{
    grid-area: mn;
}

.side-bar{
    grid-area: sd;
}

.foot{
    grid-area: ft;
}